body {
  overflow-x: hidden;
  font-family: "Roboto Slab", "Helvetica Neue", Helvetica, Arial, sans-serif;
}
.text-muted {
  color: #777777;
}
.text-muted li {
  line-height: 1.75;
  list-style-type: none;
  padding: 0px;
  margin: 0px;
}
.text-muted-black {
  color: #f7f7f7;
}
.text-muted-black li {
  line-height: 1.75;
  list-style-type: none;
  padding: 0px;
  margin: 0px;
}
.text-muted-green {
  color: white;
}
.text-muted-green li {
  line-height: 1.75;
  list-style-type: none;
  padding: 0px;
  margin: 0px;
}
.text-muted-green a {
  color: #1e1e1e;
}
.text-muted-green a:hover,
.text-muted-green a:focus {
  color: #5e5e5e;
}
.lists li {
  list-style-type: square;
}
.text-primary {
  color: #3fb498;
}
p {
  font-size: 14px;
  line-height: 1.75;
  padding-bottom: 20px;
}
p.large {
  font-size: 16px;
}
a,
a:hover,
a:focus,
a:active,
a.active {
  outline: none;
}
a {
  color: #3fb498;
}
a:hover,
a:focus,
a:active,
a.active {
  color: #328e78;
}
h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: "Montserrat", "Helvetica Neue", Helvetica, Arial, sans-serif;
  text-transform: uppercase;
  font-weight: 700;
}
.h2verit {
  text-transform: none;
}
.img-centered {
  margin: 0 auto;
}
.bg-light-gray {
  background-color: #f7f7f7;
}
.bg-green {
  background-color: #3fb498;
  color: white;
}
.navbar-default {
  background-color: #1e1e1e;
  border-color: transparent;
}
.navbar-default .navbar-brand {
  background-image: url('../img/logos/verit_logo-blackbackground.png');
  width: 97px;
  height: 30px;
  margin-top: 10px;
  color: #3fb498;
}
.navbar-default .navbar-collapse {
  border-color: rgba(255, 255, 255, 0.02);
}
.navbar-default .navbar-toggle {
  background-color: #3fb498;
  border-color: #3fb498;
}
.navbar-default .navbar-toggle .icon-bar {
  background-color: white;
}
.navbar-default .navbar-toggle:hover,
.navbar-default .navbar-toggle:focus {
  background-color: #3fb498;
}
.navbar-default .nav li a {
  font-family: "Montserrat", "Helvetica Neue", Helvetica, Arial, sans-serif;
  text-transform: uppercase;
  font-weight: 400;
  letter-spacing: 1px;
  color: white;
}
.navbar-default .nav li a:hover,
.navbar-default .nav li a:focus {
  color: #3fb498;
  outline: none;
}
.navbar-default .navbar-nav > .active > a {
  border-radius: 0;
  color: white;
  background-color: #3fb498;
}
.navbar-default .navbar-nav > .active > a:hover,
.navbar-default .navbar-nav > .active > a:focus {
  color: white;
  background-color: #328e78;
}
@media (min-width: 992px) {
  .navbar-default {
    background-color: #1e1e1e;
    padding: 2px 0;
    -webkit-transition: padding 0.3s;
    -moz-transition: padding 0.3s;
    transition: padding 0.3s;
    border: none;
  }
  .navbar-default .navbar-brand {
    font-size: 2em;
    -webkit-transition: all 0.3s;
    -moz-transition: all 0.3s;
    transition: all 0.3s;
  }
  .navbar-default .navbar-nav > .active > a {
    border-radius: 3px;
  }
}
header {
  background-attachment: scroll;
  background-position: center;
  background-repeat: no-repeat;
  text-align: center;
  color: #3fb498;
  background-color: white;
}
header .intro-text {
  padding-top: 70px;
  padding-bottom: 20px;
}
header .intro-text img {
  width: 90%;
}
header .intro-text .intro-lead-in {
  font-family: "Droid Serif", "Helvetica Neue", Helvetica, Arial, sans-serif;
  font-style: italic;
  font-size: 20px;
  line-height: 20px;
  margin-bottom: 15px;
}
@media (min-width: 392px) {
  header .intro-text {
    padding-top: 70px;
    padding-bottom: 20px;
  }
  header .intro-text img {
    width: 392px;
    height: 121px;
  }
  header .intro-text .intro-lead-in {
    font-family: "Droid Serif", "Helvetica Neue", Helvetica, Arial, sans-serif;
    font-style: italic;
    font-size: 30px;
    line-height: 30px;
    margin-bottom: 15px;
  }
}
section {
  padding: 60px 0 20px 0;
}
section h2.section-heading {
  font-size: 30px;
  margin-top: 0;
  margin-bottom: 15px;
}
section h3.section-subheading {
  font-size: 14px;
  font-family: "Droid Serif", "Helvetica Neue", Helvetica, Arial, sans-serif;
  text-transform: none;
  font-style: italic;
  font-weight: 300;
  line-height: 1.75;
  margin-bottom: 55px;
}
@media (min-width: 768px) {
  section {
    padding: 60px 0 20px 0;
  }
  h2.section-heading {
    font-size: 40px;
  }
  h3.section-subheading {
    font-size: 16px;
    font-weight: 400;
  }
}
.btn-outline {
  color: white;
  font-family: "Montserrat", "Helvetica Neue", Helvetica, Arial, sans-serif;
  text-transform: uppercase;
  text-transform: none;
  font-size: 14px;
  background: #3fb498;
  transition: all 0.3s ease-in-out;
  margin-top: 5px;
  margin-bottom: 30px;
}
.btn-outline:hover,
.btn-outline:focus,
.btn-outline:active,
.btn-outline.active {
  color: white;
  background: #328e78;
}
.btn:focus,
.btn:active,
.btn.active {
  outline: none;
}
#about .section-heading {
  margin-bottom: 55px;
  text-transform: none;
}
#about * {
  z-index: 2;
}
#about .mybutton {
  padding: 15px;
  border-radius: 3px;
  box-shadow: 0px 3px 2px #174338;
  color: white;
  background-color: #1e1e1e;
}
#about .mybutton a {
  font-family: "Montserrat", "Helvetica Neue", Helvetica, Arial, sans-serif;
  text-transform: uppercase;
  text-transform: none;
  font-weight: 400;
  letter-spacing: 1px;
  color: white;
}
#about .mybutton a:hover,
#about .mybutton a:focus {
  color: #3fb498;
  outline: none;
  text-decoration: none;
}
.tools-heading {
  margin: 55px 0 15px 0;
  text-transform: none;
  text-align: center;
}
#links .links-item {
  margin: 0 0 15px;
  right: 0;
}
#links .links-item .links-link {
  display: block;
  position: relative;
  max-width: 200px;
  margin: 0 auto;
}
#links .links-item .links-link .links-hover {
  background: #328e78;
  position: absolute;
  width: 100%;
  height: 100%;
  opacity: 0;
  transition: all ease 0.5s;
  -webkit-transition: all ease 0.5s;
  -moz-transition: all ease 0.5s;
}
#links .links-item .links-link .links-hover:hover {
  opacity: 1;
}
#links .links-item .links-link .links-hover .links-hover-content {
  position: absolute;
  width: 100%;
  height: 20px;
  font-size: 20px;
  text-align: center;
  top: 50%;
  margin-top: -12px;
  color: white;
}
#links .links-item .links-link .links-hover .links-hover-content i {
  margin-top: -12px;
}
#links * {
  z-index: 2;
}
@media (min-width: 767px) {
  #links .links-item {
    margin: 0 0 30px;
  }
}
.download-image-white {
  background-color: white;
  color: #3fb498;
}
.download-image-green {
  color: white;
  background-color: #3fb498;
}
.download-image-green a,
.download-image-green a:active,
.download-image-green a:hover,
.download-image-green a:focus {
  color: white;
  text-decoration: none;
}
.download-image-green:hover,
.download-image-green:focus,
.download-image-green:active {
  background-color: #328e78;
}
.download {
  list-style: none;
  padding: 0;
  position: relative;
}
.download:before {
  top: 0;
  bottom: 0;
  position: absolute;
  content: "";
  width: 2px;
  background-color: #dddddd;
  left: 40px;
  margin-left: -1.5px;
}
.download > li {
  margin-bottom: 60px;
  position: relative;
  min-height: 60px;
}
.download > li:before,
.download > li:after {
  content: " ";
  display: table;
}
.download > li:after {
  clear: both;
}
.download > li .download-panel {
  width: 100%;
  float: right;
  padding: 0 20px 0 100px;
  position: relative;
  text-align: left;
}
.download > li .download-panel:before {
  border-left-width: 0;
  border-right-width: 15px;
  left: -15px;
  right: auto;
}
.download > li .download-panel:after {
  border-left-width: 0;
  border-right-width: 14px;
  left: -14px;
  right: auto;
}
.download > li .download-image {
  left: 0;
  margin-left: 7px;
  width: 70px;
  height: 70px;
  position: absolute;
  z-index: 100;
  border-radius: 100%;
  border: 5px solid #dddddd;
  text-align: center;
}
.download > li .download-image h4 {
  font-size: 14px;
  margin-top: 23px;
  line-height: 14px;
}
.download > li.download-inverted > .download-panel {
  float: right;
  text-align: left;
  padding: 0 20px 0 100px;
}
.download > li.download-inverted > .download-panel:before {
  border-left-width: 0;
  border-right-width: 15px;
  left: -15px;
  right: auto;
}
.download > li.download-inverted > .download-panel:after {
  border-left-width: 0;
  border-right-width: 14px;
  left: -14px;
  right: auto;
}
.download > li:last-child {
  margin-bottom: 0;
}
.download .download-heading h4 {
  margin-top: 0;
  color: inherit;
}
.download .download-heading h4.subheading {
  text-transform: none;
}
@media (min-width: 768px) {
  .download:before {
    left: 50%;
  }
  .download > li {
    margin-bottom: 50px;
    min-height: 50px;
  }
  .download > li .download-panel {
    width: 41%;
    float: left;
    padding: 0 20px 20px 30px;
    text-align: right;
  }
  .download > li .download-image {
    width: 90px;
    height: 90px;
    left: 50%;
    margin-left: -44px;
  }
  .download > li .download-image h4 {
    font-size: 18px;
    margin-top: 32px;
    line-height: 18px;
  }
  .download > li.download-inverted > .download-panel {
    padding: 0 30px 20px 20px;
  }
}
@media (min-width: 992px) {
  .download > li {
    min-height: 80px;
  }
  .download > li .download-panel {
    padding: 0 0 20px 20px;
  }
  .download > li .download-image {
    width: 90px;
    height: 90px;
    margin-left: -45px;
  }
  .download > li .download-image h4 {
    font-size: 18px;
    margin-top: 28px;
    line-height: 26px;
  }
  .download > li.download-inverted > .download-panel {
    padding: 0 20px 20px 0;
  }
}
@media (min-width: 1200px) {
  .download > li {
    min-height: 80px;
  }
  .download > li .download-panel {
    padding: 0 0 20px 100px;
  }
  .download > li .download-image {
    width: 90px;
    height: 90px;
    margin-left: -45px;
  }
  .download > li .download-image h4 {
    margin-top: 28px;
  }
  .download > li.download-inverted > .download-panel {
    padding: 0 100px 20px 0;
  }
}
.team-member {
  text-align: center;
  margin-bottom: 50px;
}
.team-member .img-circle {
  border-radius: 100%;
  width: 239px;
  height: 239px;
}
.team-member img {
  margin: 0 auto;
  border: 7px solid white;
}
.team-member h4 {
  margin-top: 25px;
  margin-bottom: 0;
  text-transform: none;
}
.team-member p {
  margin-top: 0;
}
aside.sponsors {
  padding: 15px 0;
}
aside.sponsors img {
  margin: 10px auto;
}
section#contact {
  background-color: #1e1e1e;
}
section#contact .section-heading {
  color: white;
  margin-bottom: 55px;
}
footer {
  padding: 25px 0;
  text-align: center;
}
footer span.copyright {
  line-height: 40px;
  font-family: "Montserrat", "Helvetica Neue", Helvetica, Arial, sans-serif;
  text-transform: uppercase;
  text-transform: none;
}
ul.social-buttons {
  margin-bottom: 0;
}
ul.social-buttons li a {
  display: block;
  background-color: #3fb498;
  height: 40px;
  width: 40px;
  border-radius: 100%;
  font-size: 20px;
  line-height: 40px;
  color: white;
  outline: none;
  -webkit-transition: all 0.3s;
  -moz-transition: all 0.3s;
  transition: all 0.3s;
}
ul.social-buttons li a:hover,
ul.social-buttons li a:focus,
ul.social-buttons li a:active {
  background-color: #328e78;
}
::-moz-selection {
  text-shadow: none;
  background: #3fb498;
}
::selection {
  text-shadow: none;
  background: #3fb498;
}
img::selection {
  background: transparent;
}
img::-moz-selection {
  background: transparent;
}
body {
  webkit-tap-highlight-color: #3fb498;
}
.col-md-15 {
  position: relative;
  min-height: 1px;
  padding-right: 15px;
  padding-left: 15px;
}
@media (min-width: 992px) {
  .col-md-15 {
    width: 20%;
  }
}
